body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fix for drawer and main content layout */
.MuiDrawer-root {
  z-index: 1200;
}

.MuiAppBar-root {
  z-index: 1300 !important;
}

/* Fix for content layout */
@media (min-width: 900px) {
  .MuiContainer-root {
    margin-left: 0;
    padding-left: 24px;
  }
}
